#footer {
    color: white;
    background-color: #ff7eab;
    text-align: center;
}

#footerBottom {
    background-color: #b04c70;
    width:100%;
    text-align: center;
}

#footerBottom ul {
    list-style-type: none;
}

#footerBottom a:link {
    color: white;
}

/* visited link */
#footerBottom a:visited {
    color: #646464;
}

/* mouse over link */
#footerBottom a:hover {
    color: darkblue;
}

/* selected link */
#footerBottom a:active {
    color: grey;
}