@(message: String)
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<head>
    <div class="col-100">@navbar()</div>
    <style>
            #find-title {
                font-size: xx-large;
                text-align: center;
                background-color: #333;
                text-transform: uppercase;
            }
    </style>
</head>
<script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=15445666"></script>
<body>
    <div class="col-100"><h1 id="find-title">About QA Cinemas</h1></div>
    <div class="item">
        <div class="col-50">
            <img height="600" width="800" src="@routes.Assets.at("images/anchorage.jpg")"/>
        </div>
    </div>

    <div class="col-50" style="text-align: center" style="font-size: large">
        <div class="item">
            <div class="hyperColour">
                Lorem ipsum dolor sit amet, quando persequeris liberavisse ut vis. Vocibus petentium laboramus ut eos, cum fierent complectitur et. His in nullam quaestio, no duo nullam albucius. Eu qui dicta assueverit, mutat ornatus accusata ex vis, sed nisl singulis ad. An purto euismod epicurei vis, malorum alterum voluptua ea pri.

                Nobis delenit instructior id nec, habeo summo sed id. Ut mei quas putant disputationi. Cum ei erat tollit quaerendum, sit an putent sanctus assentior. Usu natum audire ea. Et recusabo dissentiet accommodare qui, munere nostrud vim an, ius ex noster sanctus nostrum.

                Iisque eligendi repudiandae ut eos, vidit soleat vix ut. Pri mollis ullamcorper ut. Eum cu illud liber, eum ullum laudem volutpat ut, ius alii oblique maluisset id. Natum soleat legimus per et. Semper nostrud inciderint sit cu, per ad nostrud sensibus pertinacia, eu pro vitae ponderum quaestio.

                Ut sed amet oportere. An choro imperdiet neglegentur vis. Ad paulo complectitur his, veri veritus minimum ius no. No has saperet intellegam. Per modo cibo inciderint ea. Mel ad wisi sonet pertinax, sit cu commune sententiae.

                An vis regione integre. Homero accumsan no nec. Mundi melius duo ea, his id nostro democritum intellegam. Vis facete voluptatibus reprehendunt ei, te sit euismod corrumpit. Eam ut aliquip alterum urbanitas.

                At etiam constituam quaerendum sit. Ullum audiam liberavisse at vim, per ex novum omittantur, no sea luptatum imperdiet definiebas. Eirmod volutpat ei pro, eu his eruditi cotidieque, alienum lucilius ne vim. Et noluisse democritum nec. Ea eam quas primis democritum, quo causae gloriatur no. Ea etiam abhorreant mea.

                Et cum hinc sale habemus, ad sed cibo repudiandae, te mea equidem fierent scriptorem. Quando possim invidunt sea ut, pri te suas nobis officiis, efficiantur consequuntur id has. Vim utroque instructior ex. Dicta oratio accumsan in his. Eu nec quot alienum, tollit vivendum nominati ius eu. Id vel dicant fuisset partiendo, has eros facer insolens ad. Sed facer discere atomorum at.

                Mei in suas nonumes. Integre qualisque te cum. Malis utinam usu ea, sed assentior adipiscing an, est ad saepe pertinax constituam. Insolens adipisci per ad, ut pri incorrupte contentiones. Cum stet tamquam neglegentur no, ea graeco volutpat mnesarchum sea, ei quo nulla docendi ullamcorper.

                Discere praesent euripidis ad eos, aliquip blandit insolens id sed. Illum dolore ocurreret te pri, sed cibo definiebas delicatissimi id, id virtute dolores facilisis cum. At brute tractatos explicari duo, nibh aperiri tincidunt ea sed, justo nonumy oportere an nec. Qui et solum prompta legimus, sit exerci platonem ex, has sint ignota phaedrum et.

                Copiosae deseruisse vis ad. Pro eu ignota veritus ocurreret, ius cu dico mutat vulputate, vide aliquip repudiare an ius. Et qui vidit feugait pericula, enim aeterno voluptua at qui. Quodsi temporibus mei id. Malis percipitur sit no, ei essent adolescens scriptorem mel, id illum omittantur sed. Homero atomorum ea has. Hinc tation pri no, ne sea malis putent.
            </div>
        </div>
    </div>

    <div class="col-100">@defaultFooter()</div>
</body>


