@(message: String)
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<head>
    <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
            #map {
                height: 50%;
                width: 50%;
                margin: 0;
                padding: 0;

            }

            /* Optional: Makes the sample page fill the window. */
            /*html, body {*/
                /*height: 100%;*/
                /*margin: 0;*/
                /*padding: 0;*/
            /*}*/

    </style>
    <div class="col-100">@navbar()</div>
</head>
<body>
    <div class="col-100" id="map">
        <script>
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: new google.maps.LatLng(53.4741072, -2.2882322,17),
                        mapTypeId: 'terrain'
                    });
                    var homeMarker = new google.maps.Marker({
                        position:  new google.maps.LatLng(53.474484, -2.286401),
                        map: map
                    });
                }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDULYRqPbZDrCSmoKNXZJPR3enCXhI226Q&callback=initMap">
        </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDULYRqPbZDrCSmoKNXZJPR3enCXhI226Q&libraries=places"></script>
    </div>
    <div class="col-100">@defaultFooter()</div>
</body>


