
@navbar()

<section>
    <h1><ins>Contact US</ins></h1>
</section>
<section>
    <div>
        <h3>Contact Details</h3>
        <p>Email</p>
        <p>Phone</p>
        <p>Facebook</p>
        <p>Twitter</p>
    </div>
</section>
<section>
    <div>
        <p>If you have any questions and would like to send us a message directly you can use the form below to send us
            a message directly. We will try to respond to your message as soon as we can</p>
    </div>
    <form>
        <div>
            Email: <input id="emailAddress" type="email" alt="Please enter your email address"
                        placeholder="Please enter your email adress">
        </div>
        <br>
        <div>
            Name: <input id="name" type="text" alt="Please enter your name" placeholder="Please enter your name">
        </div>
        <br>
        <div>
            About: <input id="about" type="text" alt="Please enter the subject of your question"
                        placeholder="Please enter the subject of your question">
        </div>
        <br>
        <div>
            Question: <input id="question" type="text" alt="Please enter your question"
                        placeholder="Please enter your question">
        </div>
    </form>
</section>

@defaultFooter()