@(message: String)

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=15445666"></script>
<body>
    <div class="col-100">@navbar()</div>

    <div class="listDeals" style="background-color: rgb(51, 51, 51); 1px 1px 5px inset;">
        <a class="listTitle" >
            <b>QA Cinemas Offers</b>
        </a>
    </div>

    <div class="col-33" style="text-align: center">
        <div class="item">
            <h3 class="hyperColour" style="text-align: center">DEAL 1</h3>
            <h2 class="hyperColour">Buy 5 pints in DOCKyard and receive a free ticket to any viewing of any film.</h2>
            <br>
            <img height="300" width="300" src="@routes.Assets.at("images/deal1.jpg")"/>
            <p></p>
        </div>
    </div>

    <div class="col-33" style="text-align: center">
        <div class="item">
            <h3 class="hyperColour" style="text-align: center">DEAL 2</h3>
            <h2 class="hyperColour">Free kids subway meal when buying a child's ticket.</h2>
            <br>
            <img height="300" width="300" src="@routes.Assets.at("images/deal2.jpg")"/>
            <p></p>
        </div>
    </div>

    <div class="col-33" style="text-align: center">
        <div class="item">
            <h3 class="hyperColour" style="text-align: center">DEAL 3</h3>
            <h2 class="hyperColour">Buy 1 get 1 free on all popcorn.</h2>
            <br>
            <img height="300" width="300" src="@routes.Assets.at("images/deal3.jpg")"/>
            <p></p>
        </div>
    </div>

    <div class="col-33" style="text-align: center">
        <div class="item">
            <h3 class="hyperColour" style="text-align: center">DEAL 4</h3>
            <h2 class="hyperColour">No online fees! Book online and don't pay a penny in fees!</h2>
            <br>
            <img height="300" width="300" src="@routes.Assets.at("images/deal4.jpg")"/>
            <p></p>
        </div>
    </div>

    <div class="col-33" style="text-align: center">
        <div class="item">
            <h3 class="hyperColour" style="text-align: center">DEAL 5</h3>
            <h2 class="hyperColour">Get 20% off your bill at Harvester with your QA Cinemas ticket</h2>
            <br>
            <img height="300" width="300" src="@routes.Assets.at("images/deal5.jpg")"/>
            <p></p>
        </div>
    </div>

    <div class="col-33" style="text-align: center">
        <div class="item">
            <h3 class="hyperColour" style="text-align: center">DEAL 6</h3>
            <h2 class="hyperColour">Simply show your valid student card when purchasing tickets to get a 40% discount.</h2>
            <br>
            <img height="300" width="300" src="@routes.Assets.at("images/deal6.jpg")"/>
            <p></p>
        </div>
    </div>

    <div class="col-100">@defaultFooter()</div>
</body>