<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/footer.css")'>

<div class="col-100">
  <div id="footer">
    <ul class="col-33" style="font-size: 13pt">
      <h3>Links</h3>
      Contact Us<br>
      <a href="/about">About Us</a><br>
      <a href="http://www.bbfc.co.uk/what-classification">Classifications</a>
    </ul>
    <ul class="col-33" style="font-size: 13pt">
      <h3>Opening Hours</h3>
      Mon-Sun - 9:00-23:30<br>
    </ul>
    <ul class="col-33" style="font-size: 13pt">
      <h3>Social Media</h3>
      <a href="https://twitter.com/QaCinemas"><img src="@routes.Assets.at("images/twitterLogo.png")" alt="Twitter" width="42" height="42" border="0"></a>
      <a href="https://www.facebook.com/qacinemas/"><img src="@routes.Assets.at("images/facebookLogo.png")" alt="Facebook" width="42" height="42" border="0"></a>
      <a href="https://www.instagram.com/qacinemas/"><img src="@routes.Assets.at("images/instagramLogo.png")" background-color="white" alt="Instagram" width="42" height="42" border="0"></a>
      <br><br><br>
    </ul>
  </div>
  <br>
  <div id="footerBottom" style="color: white; background-color: #062f4f">
    <small>&copy; Copyright 2017, QA Cinemas</small>
  </div>
</div>