<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/footer.css")'>

<div class="col-100">
  <div id="footer">
    <ul class="col-33" style="font-size: 13pt">
      <h3>Links</h3>
      Contact Us<br>
      <a href="/about">About Us</a><br>
      <a href="http://www.bbfc.co.uk/what-classification">Classifications</a>
    </ul>
    <ul class="col-33" style="font-size: 13pt">
      <h3>Opening Hours</h3>
      Mon-Thu - 9:00-11:00<br>
      Fri-Sat - 9:00-12:00<br>
      Sun     - 9:00-10:00
    </ul>
    <ul class="col-33" style="font-size: 13pt">
      <h3>Social Media</h3>
      Twitter<br>
      Facebook<br>
      Instagram
    </ul>
  </div>
  <br>
  <div id="footerBottom" style="color: white; background-color: #ff71a1">
    <small>&copy; Copyright 2058, Example Corporation</small>
  </div>
</div>