@import org.mongodb.scala.bson.collection.mutable.Document
@(message :String)(moviesArray:Array[Map[String, String]])
<title>Home</title>
<div class="col-100">@navbar()</div>
<br>
<script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=15445666"></script>
<div class="col-100">@nowShowingMovies(moviesArray)</div>
<a class="twitter-timeline" data-theme="dark" data-width="400" data-height="600" href="https://twitter.com/qacinemas">Tweets by QA Cinemas</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="col-100">@defaultFooter()</div>