@(message :String)(movieID:Int)(startDate: String)(endDate:String)

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
            var movieIDGlobalObject = {};
            movieIDGlobalObject["movieid"] = "@movieID";
            movieIDGlobalObject["startDate"] = "@startDate";
            movieIDGlobalObject["endDate"] = "@endDate";

    </script>

</head>
<script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=15445666"></script>
<body>
    <script src="@routes.Assets.at("javascripts/basicCarousel.js")" rel="javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="@routes.Assets.at("javascripts/movieInfo.js")" rel="javascript"></script>
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">


    <div class="col-100">@navbar()</div>

    <div class="col-100" id="movieInfoContent">


        <div id="movieImage" class="col-25"></div>
        <div id="movieInformation" class="col-50"></div>

    </div>
    <div id="movieTrailer" class="col-100"></div>

    <div>
        <h2>@startDate</h2>
    </div>


    <div class="col-100">@defaultFooter()</div>
</body>