@(message :String)(movieID:Int)

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        var movieIDGlobalObject = {};
        movieIDGlobalObject["movieid"] = "@movieID";
    </script>

</head>

<body>
    <script src="@routes.Assets.at("javascripts/basicCarousel.js")" rel="javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="@routes.Assets.at("javascripts/movieInfo.js")" rel="javascript"></script>
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">


    <div class="col-100">@navbar()</div>

    <div class="col-100">
        <div id="movieImage" class="col-33"></div>
        <div id="movieInformation" class="col-50"></div>
    </div>

    <div id="movieTrailer" class="col-100"></div>






    <div class="col-100">@defaultFooter()</div>
</body>