@navbar()
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<html>
  <head>
    <meta charset="utf-8">
    <title>My Account</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/live/3.1/firebase.js"></script>
      <!--        <link rel="stylesheet" href="style.css">-->
  </head>
  <script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=15445666"></script>
  <body>
    <div>
      <h2 id="myAccountLabel">Logged in as </h2>
    </div>
    <div>
      <button id="btnProfile" name="btnProfile" class="btn btn-action" style="display: block">Profile</button>
      <button id="btnLogout" name="btnLogout" class="btn btn-action" style="display: block">Log out</button>
    </div>


    <script src='@routes.Assets.at("javascripts/myAccount.js")'></script>



  </body>



</html>


@defaultFooter()