<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div id="banner">
    <img width="100%" style=": center" src="@routes.Assets.at("images/neon.png")">
</div>

<nav id='nav_bar'>
    <div class="floatleft">
        <ul>
            <li><a id="homebtn" href="../">Home</a> | <a href="../listing">Listings</a> | <a href="../about">About Us</a> | <a href="../deals">Deals</a></li></ul>
    </div>

    <div class="floatright">
        <ul>
        <li class="dropdown" style="padding-right: 20px">
            <a href="javascript:void(0)" class="dropbtn">Log In</a>
            <div class="dropdown-content">
                <a>Log In</a>
                <a>Sign Up</a>
            </div>
        </li>
        <li class="navbar-right">
            <form style="padding-top: 23px">
                <input type="text" id="searchbar" class="searchbox"  placeholder="Search for an Item..." required>
                <input type="submit" id="searchBtn" class="searchbutton" value="Search" onclick="doSearch(document.getElementById('searchbar').value)">
            </form>
        </li>
        </ul>
    </div>
</nav>


<script>
            $(document).ready(function() {

                $(window).scroll(function () {
                    //if you hard code, then use console
                    //.log to determine when you want the
                    //nav bar to stick.
                    console.log($(window).scrollTop())
                    if ($(window).scrollTop() > document.getElementById("banner").offsetHeight) {
                        $('#nav_bar').addClass('navbar-fixed');
                    }
                    if ($(window).scrollTop() < document.getElementById("banner").offsetHeight + 1) {
                        $('#nav_bar').removeClass('navbar-fixed');
                    }
                });

                document.getElementById("nav_bar").style.height = document.getElementById("homebtn").offsetHeight + "px"

            });

            function doSearch(theSearch){
                if(theSearch.trim() == "") {
                    window.alert("Please enter a valid search parameter.")
                }
                else{
                    window.location.href = "../search/" + theSearch
                }
            }

    </script>