    <body style=height:1500px;>
        <nav>
        <div id="header">
            <ul><div class="floatleft">
                <li><a>Home Page</a></li>
                <li><a>Listings</a></li>
                <li><a>About Us</a></li>
                <li><a>Deals</a></li>
            </div>
                <div class="floatright">
                    <li class="dropdown" style="padding-right: 20px">
                        <a href="javascript:void(0)" class="dropbtn">Log In</a>
                        <div class="dropdown-content">
                            <a>Log In</a>
                            <a>Sign Up</a>
                        </div></li>
                    <li class="navbar-right"><form style="padding-top: 23px">
                        <input type="text" id="searchbar" class="searchbox" placeholder="Search for an Item..." required>
                        <input type="button" class="searchbutton" value="Search">
                    </form></li></div>
            </ul>
            <div id="smallscreen">
                <h1> This is the small screen header</h1>
            <select>
                <option value="" selected="selected">Select</option>

                <option value="/">Home</option>
                <option value="/collections/all">Books</option>
                <option value="/blogs/five-simple-steps-blog">Blog</option>
                <option value="/pages/about-us">About Us</option>
                <option value="/pages/support">Support</option>
            </select>
            </div>
        </div>
        </nav>
    </body>
