@(movieArray:Array[Map[String, String]])

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=15445666"></script>
<body onload="init()">
    <script src="@routes.Assets.at("javascripts/basicCarousel.js")" rel="javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    <div class="selfContainer basicPad" style="width: 75%; margin: auto;">
        <div class="itemList">
            @for(i <- movieArray.indices) {
                <a href="/movieInfo?movieID=@movieArray(i)("id")"><img class="cImg listItem" src=@movieArray(i)("imageUrl")></a>
            }
        </div>

        <div class="textContainer">
            @for(i <- movieArray.indices) {
                <div class="imgText" style="user-select: none">@movieArray(i)("title")</div>
            }
        </div>

        <div class="dirBut rightBut" onclick="next()">
            <div class="vertAlign">⇝</div>
        </div>
        <div class="dirBut leftBut" onclick="prev()">
            <div class="vertAlign">⇜</div>
        </div>
    </div>
</body>