@(movieArray:Array[Map[String, String]])

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body onload="init()">
    <script src="@routes.Assets.at("javascripts/basicCarousel.js")" rel="javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

    <div class="selfContainer basicPad" style="width: 75%; margin: auto;">
        <div class="itemList">
            @for(i <- movieArray.indices) {
                <img class="cImg listItem" src=@movieArray(i)("imageUrl")>
            }
        </div>

        <div class="textContainer">
            @for(i <- movieArray.indices) {
                <div class="imgText">@movieArray(i)("title")</div>
            }
        </div>

        <div class="dirBut rightBut" onclick="next()">
            <div class="vertAlign">⇝</div>
        </div>
        <div class="dirBut leftBut" onclick="prev()">
            <div class="vertAlign">⇜</div>
        </div>
    </div>
</body>