@(useSeats:Array[Int])(numberOfRows:Int)(seatLabels:Array[String])(filmInfo:Object)(timeList:Array[String])

<head>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Seating Page</title>
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    <!-- Bootstrap -->
</head>

<body onresize="resize()">
    <div class="seatSelector col-50" style="border: solid; border-color: #727272">
        <div style="width:100%;">@for(i <- useSeats.indices) {
            @useSeats(i) match {
                case 4 => {<div class="emptyRow"></div>}
                case 3 => {<span class="emptyRow"></span>}
                case 2 => {<br class="emptyRow">}
                case 1 => {<img src="@routes.Assets.at("images/emptySeat.png")" class="clickSeat seatImg" id=@seatLabels(i) onclick="seatClickedOn(id)">}
                case 0 => {<span class="emptyRow"></span>}
                case _ => {}
            }
        }</div>
    </div>
    <div class="col-20" align="right" style="padding-top: 5%;">
        Select Time:
            <select>
                <option value="null">Please Select a Time</option>
                @for(i <- timeList.indices) {
                    <option value=@timeList(i)>@timeList(i)</option>
                }
            </select><br><br>
        Adult Seats: <input id="adult" type="number" value=0 onchange="deleteOverFlow()"><br><br>
        Child Seats: <input id="child" type="number" value=0 onchange="deleteOverFlow()"><br><br>
        Elderly Seats: <input id="oap" type="number" value=0 onchange="deleteOverFlow()"><br><br>
        Student Seats: <input id="drunkard" type="number" value=0 onchange="deleteOverFlow()"><br><br>
        <button>Submit</button>
    </div>

    <style>
        .emptyRow {
            padding-top:30px;
            padding-left:54px;
        }
        .clickSeat {
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 170, 0.6));
            cursor: pointer;
        }
        .clickSeat:hover {
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
        }
        .inputField {
            padding: 1% 1% 1% 1%;
            background-color: #64a8ab;
        }
        .seatImg {
            width: 50px;
        }
        .seatSelector {
            padding: 1% 1% 1% 1%;
            background-color: #64a8ab;
        }
    </style>
</body>

<script>
    resize();

    let selectedSeats = new Map;
    let seatsNeeded = 0;
    let curSeats = 0;
    let seatOrder = Array();

    function seatClickedOn(seatLabel) {
        seatsNeeded = parseInt(document.getElementById("adult").value, 10)
                + parseInt(document.getElementById("child").value, 10)
                + parseInt(document.getElementById("oap").value, 10)
                + parseInt(document.getElementById("drunkard").value, 10);

        if(!selectedSeats[seatLabel]) {
            seatOrder.push(seatLabel);
            selectedSeats[seatLabel] = true;
            let colChange = document.getElementById(seatLabel);
            colChange.src = "@routes.Assets.at("images/selectedSeat.png")";
        } else if(selectedSeats[seatLabel]){
            for(i=0;i<seatOrder.length;i++) {
                if(seatOrder[i] == seatLabel) {
                    seatOrder.splice(i, 1);
                }
            }
            selectedSeats[seatLabel] = false;
            let colChange = document.getElementById(seatLabel);
            colChange.src = "@routes.Assets.at("images/emptySeat.png")";
        }
        curSeats = seatOrder.length;
        deleteOverFlow();
    }
    function deleteOverFlow() {
        seatsNeeded = parseInt(document.getElementById("adult").value, 10)
                + parseInt(document.getElementById("child").value, 10)
                + parseInt(document.getElementById("oap").value, 10)
                + parseInt(document.getElementById("drunkard").value, 10);

        while(curSeats > seatsNeeded) {
            let colChange = document.getElementById(seatOrder[0]);
            colChange.src = "@routes.Assets.at("images/emptySeat.png")";
            selectedSeats[seatOrder[0]] = false;
            seatOrder.shift();
            curSeats = seatOrder.length;
        }
    }

    function resize() {
        let screenReso = window.screen.availWidth*0.5;
        let newSize = window.innerWidth*0.5;
        let sizeRatio = newSize/screenReso;
        let seats = document.getElementsByClassName("seatImg");
        console.log(sizeRatio);
        for(i=0;i<seats.length;i++) {
            seats[i].style.width = (50*sizeRatio) + "px";
        }
        seats = document.getElementsByClassName("emptyRow");
        for(i=0;i<seats.length;i++) {
            seats[i].style.paddingLeft = (54*sizeRatio) + "px";
            seats[i].style.paddingTop = (30*sizeRatio) + "px";
        }
    }
</script>