@(seating:Array[Int])

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Seating Page</title>
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    <!-- Bootstrap -->
</head>

<body>
    @{
        implicit var letterMap:Map[Int, Char] = Map()
        implicit val lengthOfSeats = seating.count(_ == 2)+1
        implicit val numbers: Array[Int] = Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24)
        implicit val letters: Array[Char] = Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z').slice(0, lengthOfSeats).reverse

        for(i <- 0 until lengthOfSeats) {
            letterMap += numbers(i) -> letters(i)
        }

        for(i <- seating.indices) {
            seating(i) match {
                case 4 => <br>
                case 3 => {<span class="emptyRow"></span>}
                case 2 => format.raw(<br>)
                case 1 => {<img class="clickSeat" src="@routes.Assets.at("images/emptySeat.png")">}
                case 0 => Html(<img src="@routes.Assets.at("images/nullSeat.png")">)
                case _ => {println("Weird seat number: " + i)}
            }
        }
    }
    <style>
        .emptyRow {
            padding-top:30px;
            padding-left:54px;
        }
        .clickSeat {
            filter: drop-shadow(5px 5px 5px rgba(0, 0, 170, 0.6));
            cursor: pointer;
        }
    </style>
</body>